/* Style the body */
body {
  font-family: Cantarell;
  margin: 0;
}

td {
    text-align: center;
    padding: 5px;
}

/* Header/Logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #02100d;
  color: white;
  font-size: 20px;
}

/* Page Content */
.content {padding:60px;}


* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0px 60px;
}

.form {
    margin-top: 20px;
}
