/* Style the body */
body {
  font-family: Cantarell;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #02100d;
  color: white;
  font-size: 20px;
} 

/* Create two equal columns that sits next to each other */
.column {
  padding: 600px 600px;
  height: 1500px;
} 

.row {
  display: flex;
  padding: 600px 600px;
}

.table {
  font-family: cantarell;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/*th{
      background-color: #4287f5;
      color: white;
      }
th,td{
      width: 150px;
      text-align: center;
      border: 1px solid black;
      padding: 5px;
}*/
