{% extends 'base.html' %}


{% block head %}
<div class="header">
<h1>Performance tracker</h1>
</div>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Stocks in real time.</h1>
</div>
    <div class="row">
    <div class="column">
    <h2> </h2>
      {{ plot_div | safe }}
      {{ plot_script | safe }}
    </div>
    <div class="column" style="background-color:#bbb;">

    <h2>Shares profile</h2>
    <p>Some shares</p>
    {% for i in labels %}
            <div class="column" style="background-color:#cac4b0;">
	    <p>{{ i }} </p>
            </div>
     {% endfor %}
    </div>
</div>

{% endblock %}
